<html>
<head>
	<title>playlist</title>
	<script src="jquery.min.js"></script>
	<script src="constants.js"></script>
	<script src="search.js"></script>
	<link rel="stylesheet" href="playlist.css"/>
	<link rel="stylesheet" href="bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-inverse bg-primary">
	<a class="navbar-brand" href="#">Maverick</a>
	<div class="collapse navbar-collapse" id="navigationbar">
		<ul class="nav navbar-nav">
			<li id="shuffle-me" onclick="set_play_mode(this)"><a>Shuffle Random</a></li>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>

<div class="cols">
	<div class="col-sd">
			<div class="block" style="display:block;">
			<h5 class="btn-primary" style="padding:7px"> CHECKLIST </h5>
			<ol class="favicon">
				<li> <a href="https://news.google.com/news/?ned=in&hl=en-IN">news</a> </li>
				<li> <a href="https://mail.google.com/mail/u/0/#inbox">mail</a> </li>
				<li> <a href="https://www.cse.iitb.ac.in/roundcube/?_task=login&_err=session">cse</a> </li>
				<li> <a href="https://www.hackerrank.com/contests/projecteuler/challenges/euler029">hr</a> </li>
				<li> <a href="http://codeforces.com/contest/842/problem/D">codeforces</a> </li>
			</ol>
		</div>
			<div class="block" style="display:inline-block;">
			<h5 class="btn-primary" style="padding:7px"> TODOs </h5>
			<ol style="padding:0px 10px;">
				<li> <a href="https://www.hackerrank.com/contests/5-days-of-game-theory/challenges"> HR 5 day Game Theory challenge </a></li>
				<li> <a href="https://en.wikipedia.org/wiki/Sprague%E2%80%93Grundy_theorem"> Grundy theorem </a> </li>
				<li> Arrow's theorem</li>
				<li> <a href="https://www.youtube.com/watch?v=2g9OSRKJuzM"> Skip List </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/859/G"> 859/G </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/859/D"> <strike>859/D</strike> </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/859/B"> 859/B </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/859/C"> <strike>859/C</strike> </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/858/A"> <strike>858/A</strike> </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/858/B"> <strike>858/B</strike> </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/848/B"> 848/B </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/848/D"> 848/D </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/848/E"> 848/E </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/850/B"> 850/B </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/850/D"> 850/D </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/850/E"> 850/E </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/850/F"> 850/F </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/852/A"> 852/A </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/852/F"> 852/F </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/852/H"> 852/H </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/854/A"> 854/A </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/856/A"> 856/A </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/856/C"> 856/C </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/841/B"> <strike>841/B</strike> </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/842/B"> <strike>842/B</strike> </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/842/C"> <strike>842/C</strike> </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/843/B"> 843/B </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/843/C"> 843/C </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/844/B"> <strike>844/B</strike> </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/845/G"> 845/G </a> </li>
				<li> <a href="http://codeforces.com/problemset/problem/846/F"> 846/F </a> </li>
			</ol>
		</div>
		<!-- </div> -->
		<!-- </div> -->
	</div>
	<div class="col-md">
	<div class="block">
		<div class="col-md">
		<p id="song_title"></p>
		</div>
		<div class="col-md">
		<form class="navbar-form" onsubmit="return load_searched_music(this)"  action="#">
			<input type="text" name="song_substring" class="form-control" placeholder="Song Title Substring">
			<button type="submit" class="btn btn-primary">Search</button>
			<!-- {% csrf_token %} -->
		</form>
		</div>		
		<video controls id="sound_box">
			<source src="music-videos/queen/Queen - I Want To Break Free (Official Video)-f4Mc-NYPHaQ.mp4" id="sound_src" type="video/mp4" />
			<input name="index" id="i" value="0" hidden/>
		</video>
		<form action="#">
			<div class="form-group" >
				<label class="form-check-label"> Loop: </label> 
				<input type="checkbox" class="form-check-input" id="sound_box-loop" onclick="set_play_mode(this)"/>
				<label class="form-check-label"> Start time: </label> 
				<input type="text" id="sound_box-loop-start" value="0:00"/>
<!--	  <label class="form-check-label"> End time: </label> 
				<input type="text" id="sound_box-loop-end"/>
 -->
				<label class="form-check-label"> Speed: </label> 
 				<select id="sound_box-speed" onchange="document.getElementById('sound_box').playbackRate=this.value;">
 					<option value="2"> 2 </option>
 					<option value="1.5"> 1.5 </option>
 					<option value="1.25"> 1.25 </option>
 					<option value="1" selected> Normal </option>
 					<option value="0.75"> 0.75 </option>
 					<option value="0.5"> 0.5 </option>
 					<option value="0.25"> 0.25 </option>
 				</select>
	 		</div>
 			<input id="sound_lyrics_file" accept="text/plain" type="file" onchange="load_lyrics(event)"/> <br>
			<div class="panel panel-default panel-body">
				<b> Lyrics <span class="pull-right">
					<button onclick="document.getElementById('sound_lyrics').style.maxHeight='100px';"> <span class="dropup"> <span class="caret"></span></span></button>
					<button onclick="document.getElementById('sound_lyrics').style.maxHeight=null;"> <span class="caret"></span></button>
				</span> </b>
				<br>
  	  	<p id="sound_lyrics" style="margin-bottom:1%;white-space:pre-line;overflow:auto;text-overflow:ellipsis;max-height:100px">view song lyrics</p>
  	</div>
		</form>
	<!-- 	<audio controls id="sound_box">
			<source src="music/The Chainsmokers & Coldplay - Something Just Like This (Lyric)-FM7MFYoylVs.mp3" id="sound_src"/>
			<input name="index" id="i" value="0" hidden>
		</audio>
	 -->	 	
		<button class="btn btn-primary" onclick="toggle_lists()" style="width:100%;margin-bottom:1%;"> Toggle List </button>
		<button class="btn btn-primary" onclick="toggle_selection()" style="width:100%;margin-bottom:1%;"> Toggle Selection </button>
		<hr>
		<ul id="all_songs"></ul>
		<ul id="suggested_songs" hidden></ul>
		<br>
	</div>
	</div>
	<div class="col-sd">
		<div class="block" style="display:inline-block;">
			<h5 class="btn-primary" style="padding:7px"> TODOs </h5>
			<ol style="padding:0px 10px;">
				<li> &nbsp;&nbsp;&nbsp; Geek for Geeks </li>
				<li> &#x2713; interviewbit part-1 </li>
				<li> &nbsp;&nbsp;&nbsp; HS200 CS635 quiz </li>
				<li> &nbsp;&nbsp;&nbsp; Improve search </li>
				<li> &nbsp;&nbsp;&nbsp; Read and Blog </li>
				<li> &nbsp;&nbsp;&nbsp; Make attention work </li>
				<li> &nbsp;&nbsp;&nbsp; Bitcoin and blockchain </li>
				<li> &nbsp;&nbsp;&nbsp; internet of things </li>
				<li> &nbsp;&nbsp;&nbsp; <a href="https://www.youtube.com/watch?v=YJZCUhxNCv8"> view this</a> </li>
				<li> &nbsp;&nbsp;&nbsp; TED-ED
					<ol>
						<li> Engineering Connections - Nat Geo </li>
						<li> <a href="https://www.youtube.com/watch?v=brU5yLm9DZM"> 3Brown1Blue </a> </li>
						<li> <a href="https://ed.ted.com/lessons/how-smart-are-dolphins-lori-marino"> dolphins</a> </li>
						<li> <a href="https://www.ted.com/playlists/230/10_great_talks_to_celebrate_bl?utm_campaign=social&utm_medium=referral&utm_source=facebook.com&utm_content=playlist&utm_term=global-social%20issues"> black-history-month </a> </li>
						<li> <a href="https://www.ted.com/talks/david_epstein_are_athletes_really_getting_faster_better_stronger?language=en&utm_campaign=social&utm_medium=referral&utm_source=facebook.com&utm_content=talk&utm_term=science">athletes </a> </li>
						<li> <a href="https://www.ted.com/talks/kristin_poinar_what_s_hidden_under_the_greenland_ice_sheet?utm_campaign=social&utm_medium=referral&utm_source=facebook.com&utm_content=talk&utm_term=science"> greenland</a> </li>
						<li> <a href="https://www.ted.com/talks/ronald_sullivan_how_i_help_free_innocent_people_from_prison?utm_campaign=social&utm_medium=referral&utm_source=facebook.com&utm_content=talk&utm_term=global-social%20issues#t-21676"> free innocent people from prison </a> </li>
						<li> <a href="https://www.ted.com/playlists/623/the_evolution_of_music?utm_campaign=social&utm_medium=referral&utm_source=facebook.com&utm_content=playlist&utm_term=humanities"> music evolution </a> </li>
						<li> <a href="https://www.ted.com/playlists/623/the_evolution_of_music?utm_campaign=social&utm_medium=referral&utm_source=facebook.com&utm_content=playlist&utm_term=humanities"> extremist groups </a> </li>
						<li> <a href="https://www.quora.com/What-is-a-cytokine-storm-and-what-are-the-diseases-that-cause-that/answer/Tirumalai-Kamala">cytokine storm </a> </li>
						<li> <a href="https://www.brainpickings.org/2013/08/08/richard-feynman-on-the-meaning-of-life/"> richard feynman </a> </li>
						<li> <a href="https://blog.ed.ted.com/2015/09/23/perfect-your-punctuation-4-ted-ed-lessons-on-commas-semicolons-and-more/"> punctuation </a> </li>
						<li> <a href="https://blog.ed.ted.com/2015/09/23/perfect-your-punctuation-4-ted-ed-lessons-on-commas-semicolons-and-more/"> help you forget that you are doing daily chores </a> </li>
						<li> <a href="https://www.ted.com/talks/steven_johnson_where_good_ideas_come_from?utm_campaign=social&utm_medium=referral&utm_source=facebook.com&utm_content=talk&utm_term=social-science"> where do good ideas come from </a> </li>
						<li> <a href="https://www.ted.com/talks/zak_ebrahim_i_am_the_son_of_a_terrorist_here_s_how_i_chose_peace?utm_campaign=social&utm_medium=referral&utm_source=facebook.com&utm_content=talk&utm_term=global-social%20issues"> peace </a> </li>		
						<li> <a href="https://www.ted.com/talks/judson_brewer_a_simple_way_to_break_a_bad_habit?utm_campaign=social&utm_medium=referral&utm_source=facebook.com&utm_content=talk&utm_term=social-science"> habits </a> </li>
						<li> <a href="https://ideas.ted.com/how-to-exercise-when-its-the-last-thing-you-want-to-do/?utm_campaign=social&utm_medium=referral&utm_source=facebook.com&utm_content=ideas-blog&utm_term=social-science"> exercise </a> </li>
						<li> <a href="https://www.youtube.com/watch?v=PCx8Xcm9l7U"> 100 known music pieces </a> </li>		
						<li> <a href="https://www.youtube.com/watch?v=HeQX2HjkcNo"> Math has a fatal flaw </a> </li>		
					</ol>
			</ol>
		</div>
		<div class="block" style="display:inline-block;">
			<h5 class="btn-primary" style="padding:7px"> READMEs </h5>
			<ol style="padding:0px 10px;">
				<li> <a href="https://arxiv.org/pdf/1211.5063.pdf"> RNN_training </a> </li>
				<li> <a href="http://proceedings.mlr.press/v9/glorot10a/glorot10a.pdf"> RNN_training </a> </li>
				<li> <a href="http://www.owlnet.rice.edu/~elec539/Projects99/BACH/proj2/wiener.html"> Weiner_filter </a> </li>
				<li> <a href="http://repository.upenn.edu/cgi/viewcontent.cgi?article=1011&context=cis_reports"> CRF </a> </li>
				<li> <a href="http://193.6.4.39/~czap/letoltes/IS14/IS2014/PDF/AUTHOR/IS141304.PDF"> LSTM </a> </li>
				<li> <a href="https://courses.csail.mit.edu/6.851/spring12/scribe/L19.pdf"> Link Cut Trees </a> </li>
				<li> <a href="http://digital.cs.usu.edu/~allan/DS/Notes/Ch22.pdf"> Splay Trees </a> </li>
			</ol>
		</div>
		<div class="block" style="display:inline-block;">
			<h5 class="btn-primary" style="padding:7px"> AIMs </h5>
			<ol style="padding:0px 10px;">
				<li> &nbsp;&nbsp;&nbsp; Hackerrank practice </li>
				<li> &nbsp;&nbsp;&nbsp; Codeforces div1 </li>
				<li> &nbsp;&nbsp;&nbsp; Interview Bit complete </li>
				<li> &nbsp;&nbsp;&nbsp; Leetcode complete </li>
				<li> &nbsp;&nbsp;&nbsp; Academics </li>
				<li> &nbsp;&nbsp;&nbsp; Learn Tabla </li>
				<li> &nbsp;&nbsp;&nbsp; Contribute to open source FOR LIFE </li>
				<li> &nbsp;&nbsp;&nbsp; Work on chromium Browser </li>
				<li> &nbsp;&nbsp;&nbsp; John Wick </li>
			</ol>
		</div>
	</div>
</div>
</body>


<script>

/***************************
	List and Mode UI
***************************/

function toggle_lists() {
	if($('#all_songs').is(":hidden")) {	
		document.getElementById("all_songs").style.display = "block";
		document.getElementById("suggested_songs").style.display = "none";
	} else {
		document.getElementById("all_songs").style.display = "none";
		document.getElementById("suggested_songs").style.display = "block";
	}
}

function toggle_selection() {
	var all = document.getElementById('all_songs').children;
	for(var i in all) {
				console.log(all[i].firstElementChild.checked);
		all[i].firstElementChild.checked = !all[i].firstElementChild.checked;
	}
}

function load_searched_music(form) {	
	document.getElementById("all_songs").style.display = "none";
	document.getElementById("suggested_songs").style.display = "block";
	var ans = kmp.get_searched_songs(form.song_substring.value, songs);
	var e = document.getElementById("suggested_songs");
	while(e.hasChildNodes()) {
		e.removeChild(e.firstChild);
	}
	ans.forEach(function(ele) {
		var a = document.createElement('a');
		a.text = ele + '-' + songs[ele];
		a.href="#";
		li = document.createElement('li');
		li.append(a);
		// li.className += "song-suggestions";
		e.append(li);
	});
	$("#suggested_songs").click(function(){
		// console.log($(this).index());
		id = i = $(this).index();
		if (is_element_active("shuffle-me")) {
			id = invperm[i];
		} 
		load_song(i, id);
	});
	e.onchange = function(e) {
		console.log(this.value)
		load_song(this.value);
	}
	return false;
}

function is_element_active(ele){
	if (typeof ele === "string") ele = document.getElementById(ele);
	return (' ' + ele.className + ' ').indexOf(' active ') > -1;
}

function set_play_mode(ele) {
	console.log(ele.className)
	var is_active = is_element_active(ele);
	var is_loop = ele.id=="sound_box-loop"; 
	var i = parseInt(document.getElementById("i").value);
	console.log(ele.id+ is_loop)
	var sound_box = document.getElementById("sound_box");
	sound_box.removeEventListener("ended", load_current);
	sound_box.removeEventListener("ended", load_next);	
	sound_box.removeEventListener("ended", load_random);
	console.log("added");
	if(is_loop) {
		if (is_element_active("shuffle-me")) i = perm[i];
		$(document.getElementById("shuffle-me")).removeClass("active");
		document.getElementById("sound_box-loop").checked=!is_active;
		if(is_active) sound_box.addEventListener("ended", load_next);	
		else sound_box.addEventListener("ended", load_current);
	} else {
		$(document.getElementById("sound_box-loop")).removeClass("active");
		document.getElementById("sound_box-loop").checked=0;
		if(is_active) {
			i = perm[i];
			sound_box.addEventListener("ended", load_next);
		} else {
			i = invperm[i];
			sound_box.addEventListener("ended", load_random);
		}
	}
	if(is_active)	$(ele).removeClass("active");
	else $(ele).addClass("active");		
	document.getElementById("i").value = i;
	console.log(ele.className)	
}

/***************************
	Loading song in 
	different modes
***************************/


function load_next(e, dir = 1, state = 0) {
	console.log("dir",dir, "state", state);
	var i = parseInt(document.getElementById("i").value), song_format, counter = 0, j = 0;
	console.log("state"+state);
        console.log("perm.len=" + perm.length, "songs.len=" + songs.length);
	do {			
			i = (state!=2)*(i + dir + songs.length)%songs.length + (state==2)*(i);
			j = (state==1)*perm[i] + (state!=1)*i; 
			// song_format = songs[i].substr(songs[i].length-3)	
			console.log(i,j);
	} while( (!document.getElementById("checkbox-" + j).checked || songs[j].indexOf(":")>-1 || songs[j].indexOf(":indian")>-1) && ++counter<songs.length );// || song_format!="mp3" ) ;				
	if(counter==songs.length) return;
	load_song(j, i);
}

function load_random(e) {
	load_next(e, 1, 1);
}

function load_current(e) {
	load_next(e, 1, 2);
}

function load_lyrics(event) {
	// fetch("music/"+file)
	// 	.then(response => function() { document.getElementById("sound_lyrics").innerHTML = response.text; })
	var input = event.target;
	var reader = new FileReader();
	reader.onload = function() {
		console.log(document.getElementById("sound_lyrics"))
		console.log(document.getElementById("sound_lyrics").innerHTML)
		text = reader.result.split(']')
		document.getElementById("sound_lyrics").innerHTML = (text.length>1)?text[1] : reader.result
		// console.log(reader.result)
	}
	reader.readAsText(input.files[0])
}
 
function load_song(i, id = -1){
	if(id==-1) id=i;
	document.getElementById("i").value = id;
	document.getElementById("song_title").innerHTML = songs[i];
	document.title = songs[i];
	// document.getElementById("sound_lyrics_file").value = "music/"+songs[i].substr(0,songs[i].length-3)+"txt";
	switch(formats[songs[i].substr(songs[i].length-3)]){
		case FORMATS.VIDEO:
		case FORMATS.AUDIO:
			document.getElementById("sound_src").src = base_folder + songs[i];
			console.log("(load_song) i = " + i + ", song_title = " + songs[i]);
			var e = document.getElementById("sound_box");
			e.pause();
			e.style.display = "block";
			e.load();
			e.currentTime = 0;
			if(document.getElementById("sound_box-loop").checked) {
				var time=document.getElementById("sound_box-loop-start").value.split(":"), base=1;
				for(var i=time.length-1;i>=0;i--) {
					e.currentTime+=parseInt(time[i])*base;
					base*=60;
				}
				console.log(e.duration);
				// if(e.currentTime>e.duration) e.currentTime = 0;
			}
			e.playbackRate=document.getElementById('sound_box-speed').value;
			e.play();
			break;
		default:
	}
}

/***************************
	Set up the page
	attach listeners (click, keynode)
***************************/

//set up random shuffle fixed permutation
function setup_perm() {
    console.log("perm.len="+perm.length, "songs.len="+songs.length) 
	for(var i=perm.length;i<songs.length;i++) {
		perm.push(i);
		invperm.push(i);	
	}
        console.log("perm.len="+perm.length)

	for(var i=0;i<songs.length-1;i++) {
		var j = Math.floor(Math.random()*10000)%(songs.length-1-i) ;
		var tmp = perm[i];
		perm[i] = perm[j+i+1];
		perm[j+i+1] = tmp;
	}

	for (var i=0; i<songs.length; i++) {
		invperm[perm[i]]=i;
	}
	console.log("perm.length=", perm.length)
}

//create a list of songs
$(document).ready(function() {
	//load_song(0);
	setup_perm();

	document.getElementById("sound_box").addEventListener("ended", load_next);

	var e = document.getElementById("all_songs");
	for(var j = 0;j<songs.length;j++ ){
		var li = document.createElement("li");

		var checkbox = document.createElement('input');	
		checkbox.id = "checkbox-" + j;
		checkbox.type = "checkbox";
		console.log("begin" + checkbox);
		$(checkbox).click(function(e) {
			// console.log("click begin on checkbox",e,$(this));
			e.stopPropagation();
			$(this).checked^= 1;
			console.log("click end on checkbox",e);
		});
		checkbox.defaultChecked = true;
		li.appendChild(checkbox);
		
		var text = document.createTextNode(songs[j]);
		li.appendChild(text);
		
		e.appendChild(li);
		// console.log("end" + checkbox);
	}
	//add on click listener
	$('#all_songs li').click(function() {
		// console.log($(this).index());
		id = i = $(this).index();
		if (is_element_active("shuffle-me")) {
			id = invperm[i];
		}
		load_song(i, id);
	})

	$(document).keydown(function(e){
		var ele = document.getElementById("sound_box");
		inputs = $(document).find('input:text');
		for(var i = 0; i < inputs.length; i++) {
			if($(inputs[i]).is(':focus'))
				return;
		}
		switch (e.keyCode) {
			case keycodes.J:
				ele.currentTime -= 10; 
				break;
			case keycodes.K:
				if(ele.paused)
					ele.play();
				else
					ele.pause();
				break;
			case keycodes.L:
				ele.currentTime  += 10; 
				break;
			case keycodes.N:
				load_next(null, 1, (' ' + document.getElementById("shuffle-me").className + ' ').indexOf(' active ')>-1);
				break;	
			case keycodes.O:
				set_play_mode(document.getElementById("sound_box-loop")); 
				break;
			case keycodes.P:
				load_next(null, -1, (' ' + document.getElementById("shuffle-me").className + ' ').indexOf(' active ')>-1);
				break;	
			case keycodes.S:
				set_play_mode(document.getElementById("shuffle-me"));
				break;
			case keycodes.T:
				toggle_lists();
				break;
		}
	});
});

</script>

