#sound_box {
	display:block;
	background-color: #ffffff;
	margin:auto;
	width:100%;
	display: none;
}

#song_title {
	/*background-color: #eeeeff;*/
	text-align:center;
	font-weight:bold;
}

body {
	margin:0;
	background-color: #f5f5ff;
}

.navbar {
	position: fixed;
	display: block;
	top:0;
	left:0;
	height:20px;
	background-color: #eeeeff;
}

.cols {
	margin-top:0px;
}
.col-md {
	width:50%;
	min-width:50%;
	min-height:10px;
	float:left;
	display:inline;
}
.col-sd {
	width:25%;
	min-width:25%;
	max-width:25%;
	min-height:10px;
	float:left;
	display:inline;
}

.block {
	background-color: #ffffff;
	margin:10px;
	padding:10px;
	border-style:solid;
    box-shadow: 0px 0px 15px #888888;
	border-width: 1px;
	border-radius: 5px;
	font-size:11px;
	word-wrap: break-word;
}

.favicon {
	display: inline;
	margin:0;
	padding:0;
}

.favicon img {
	width:32px;
	height:32px;
}

.favicon li {
	display:inline;
	list-style:none;
}

#suggested_songs a{
	text-decoration: none;
	border-style: none;	
	font-size:12px;
}

#suggested_songs a:hover, a:focus {
	text-decoration: none;
	border-style: dashed;
	border-width: 1px;
	font-size:12px;
}

.play-block {
	background-color: yellow;
	margin:0 40% 0 40%;
	min-height:15%;
	height:15%;
	padding:10px;
	border-color:yellow;
    /*box-shadow: 0px 0px 15px #888888;*/
	border-width: 2px;
	border-radius: 50%;
}

#all_songs, #suggested_songs {
	margin:0px;
	list-style:none;
	padding:0px 10px;
    /*-webkit-column-count: 1;   Chrome, Safari, Opera */
    /*-moz-column-count: 1;*/ /* Firefox */
    /*column-count: 1;*/
}
